$primaryColorDark: #043873;
$primaryColorLight: #4F9CF9;

$secondaryColorYellow: #FFE492;
$secondaryColorBlue: #A7CEFC;
$colorWhite: #FFFFFF;
$colorBlack: #212529;

/*
** Default
*/
$fontSize: 18px;
$lineHeight: 1.66667;
$letterSpacing: -0.02rem;

/*
** Header
*/
/* Fonte Size */
$H1FontSize: 4rem;
$H2FontSize: 3.555555556rem;
$H3FontSize: 3rem;
$H4FontSize: 2rem;
$H5FontSize: 1.555555556rem;
/* Line Hegiht */
$H1LineHeight: auto;
$H2LineHeight: auto;
$H3LineHeight: auto;
$H4LineHeight: auto;
$H5LineHeight: 2;

/*
** Paragraph P1
*/
/* Fonte Size */
$ParagraphP1SemiBoldFonteSize: 1.333333333rem;
$ParagraphP1RegularFonteSize: 1.333333333rem;
/* Line Hegiht */
$ParagraphP1SemiBoldLineHeight: 2;
$ParagraphP1RegularLineHeight: 1.777777778;

/*
** Paragraph P2
*/
/* Fonte Size */
$ParagraphP2BoldFonteSize: 1rem;
$ParagraphP2MediumFonteSize: 1rem;
$ParagraphP2RegularFonteSize: $fontSize;
/* Line Hegiht */
$ParagraphP2BoldLineHeight: auto;
$ParagraphP2MediumLineHeight: 1.277777778;
$ParagraphP2RegularLineHeight: $lineHeight;

/*
** Paragraph P3
*/
/* Fonte Size */
$ParagraphP3MediumFonteSize: 0.8888888893rem;
$ParagraphP3RegularFonteSize: 0.888888889rem;
/* Line Hegiht */
$ParagraphP3MediumLineHeight: auto;
$ParagraphP3RegularLineHeight: 1.111111111;

/*
** Breakpoints
*/
$breakpoints: (
  xs: 350px,
  xs-plus: 396px,
  custom-450: 450px,
  sm: 576px,
  sm-plus: 585px,
  custom-594: 594px,
  custom-635: 635px,
  md: 768px,
  md-plus: 900px,
  custom-md-plus: 992px,
  lg: 1180px,
  xl-mini: 1369px,
  xl: 1400px,
  
);