@use "../base" as *;

.footer {
    padding: 140px 0 65px;
    background-color: $primaryColorDark;

    &__container{
        display: flex;
        position: relative;
        margin-bottom: 67px;
    }

    &__container-sources {
        display: flex;
        position: relative;
        padding-top: 32px;
        border-top: 1px solid;
        border-color: #2E4E73;
    }
    

    &__brand {
        flex: 0 0 240px;
        margin-right: 60px;
    }

    &__logo {
        width: 191px;
        height: auto;
    }

    &__description {
        margin-top: 8px;
        color: $colorWhite;
    }

    &__navigation {
        flex: 0 0 200px;
        margin-right: 100px;
    
        &:last-of-type {
            margin-right: 0;
        }
    }

    &__navigation-title {
        font-weight: 600;
        color: $colorWhite;
    }

    &__navigation-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 8px;
    }

    &__navigation-item {

    }

    &__navigation-link {
        font-weight: 400;
        font-size: $ParagraphP3RegularFonteSize;
        line-height: $ParagraphP3RegularLineHeight;
        color: $colorWhite;

        &:hover {
            color: $secondaryColorYellow;
        }
    }

    &__try-container {
        flex: 0 0 260px;
        margin-left: auto;
    }

    &__try-title {
        font-weight: 700;
        font-size: $H5FontSize;
        line-height: $H5LineHeight;
        color: $colorWhite;
        padding-bottom: 23px;
        
    }

    &__try-description {
        font-weight: 400;
        font-size: $ParagraphP3RegularFonteSize;
        line-height: $ParagraphP3RegularLineHeight;
        color: $colorWhite;
        padding-bottom: 23px;
    }

    &__terms {
        display: flex;
        
    }

    &__terms-list {
        display: flex;
        gap: 60px;
        
        
        
            
    }
    &__terms-item {
        
        position: relative;
        color: $colorWhite;
        font-weight: 400;
        font-size: $ParagraphP3RegularFonteSize;
        line-height: $ParagraphP3RegularLineHeight;
            &:first-child {
                padding-left: 20px;
                padding-right: 20px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    width: 19px;
                    height: 19px;
                    background-image: url("../images/Icon-world.svg");
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 14px;
                    background-image: url("../images/arrow-down1.svg");
                    background-repeat: no-repeat;
                    top: 50%;
                    right: 0;
                    transform: translate(10%, -10%);
                }    
        }
    }
    &__icons {
        display: flex;
        gap: 32px;
        align-items: center;
    }
}
@include media-down (xl) {
    .footer{
        &__navigation{
            margin-right: 40px;
        }
        &__try-container{
            flex: 0 0 200px;
        }
    }
}
@include media-down (lg) {
    .footer {
        &__navigation{
            flex: 0 0 170px;
            margin-right: 20px;
        }
    }
}
@include media-down (custom-md-plus) {
    .footer {
        &__container {
            
            & :nth-child(1), & :nth-child(5){
                flex: 0 0 50%;
            }
            flex-wrap: wrap;
            & :nth-child(1){
                order: 1;
            }
            & :nth-child(5){
                order: 2;
            }
        }
        &__navigation{
            flex: 1 1 auto;
            margin-right: 0;
            order: 3;
            margin-top: 20px;
        }
        &__brand{
            margin-right: 0;
            padding-right: 10px;
        }
        &__try-container {
            padding-left: 10px;
        }
        
    }
}
@include media-down (md){
    .footer {
        &__container {
            flex-direction: column;
            gap: 20px;
            
        }
        &__try-container {
            padding-left: 0;
            margin-left: 0;
        }
        &__container-sources {
            border-top: none;
            flex-direction: column;
            
        }
        &__icons {
            margin-left: 0;
            padding-top: 20px;
            border-top: 1px solid;
            border-color: #2E4E73;
        }
        &__terms {
            padding-bottom: 20px;   
        }
        
        &__terms-list {
            flex-wrap: wrap;
            gap: 20px;
        }

        // &__terms-item {
        //     flex: 0 0 30%;
        // }
    }
}
@include media-down (sm) {
    .footer {
        &__container {
            align-items: center;
            text-align: center;
            gap: 20px;
        }
        &__get-started {
            margin: 0 auto;
        }
        &__terms-list{
            flex-direction: column;
            align-items: center;
        }
        &__terms {
            justify-content: center;
        }
        &__icons {
            justify-content: center;
        }
    }
}
