@use "../base" as *;

.hero {
    position: relative;
    background-color: $primaryColorDark;
    background-image: url("../images/pattern-1.svg");
    background-repeat: no-repeat;
    background-position: center 60%;
    padding: 140px 0;
    
    &__container {
        display: flex;
        align-items: center;
    }
    &__container-info{
        margin-right: 18px;
    }
    &__container-img {
        max-width: 824px;
        width: 100%;
        height: 549px;
        background-color: $secondaryColorBlue;
    }
    &__title {
        color: $colorWhite;
    }
    &__description {
        margin-top: 24px;
        color: $colorWhite;
    }
    &__try {
        margin-top: 60px;
    }
    
} 
@include media-down(xl) {
    .hero {
        padding: 100px 0;
        &__container-img {
            max-width: 685px;
            height: 457px;
        }
    }
}
@include media-down(lg) {
    .hero {
        padding: 140px 0;
        &__container-img {
            max-width: 526px;
            height: 350px;
        }
    }
}
@include media-down(custom-md-plus) {
    .hero{
    &__title{
            font-weight: 700;
            font-size: $H3FontSize;
            line-height: $H3LineHeight;
        }
    }
}
@include media-down(md-plus){
    .hero {
        &__container-img {
            height: 270px;
        }
    }
}
@include media-down(md) {
    .hero {
        padding: 140px 0 100px 0;
        background-position: 75% 20%;
        
        &__container {
            display: block;
            text-align: center;
        }
        &__try {
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 100px;
        }
        &__container-img {
            max-width: 551px;
            margin: 0 auto;
            height: 367px;
        }
        // &__title{
        //     font-weight: 700;
        //     font-size: $H3FontSize;
        //     line-height: $H3LineHeight;
        // }
        
    }
}

@include media-down(sm) {
    .hero {
        &__title{
            font-weight: 700;
            font-size: $H4FontSize;
            line-height: $H4LineHeight;
        }
    }
}
@include media-down(custom-450) {
    .hero {
        padding: 80px 0;
        &__container-img {
            height: 191px;
        }
    }
}


