@use "../base" as *;

.pricing {
    position: relative;
    background-color: $colorWhite;
    padding: 140px 0;

    &__container {

    }

    &__container-info {
        margin-right: 18px; 
    }

    &__title {
        position: relative;
        text-align: center;
        color: $colorBlack;
        z-index: 1;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-15px, 20px);
            width: 320px;
            height: 50px;
            background-image: url("../images/highlight.svg");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }

    &__description {
        text-align: center;
        margin-top: 24px;
        color: $colorBlack;
    }

    &__plan-container {
        margin-top: 60px;
    }

    &__plan-slider {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__plan {
        padding: 40px 44px;
        border: 1px solid $secondaryColorYellow;
        border-radius: 10px;
    }

    &__plan-type {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: $ParagraphP1SemiBoldFonteSize;
        line-height: $ParagraphP1SemiBoldLineHeight;
    }

    &__plan-price {
        margin-bottom: 25px;
    }

    &__plan-description {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: $ParagraphP2MediumFonteSize;
        line-height: $ParagraphP2MediumLineHeight;
    }

    &__plan-list {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &__plan-item {
        position: relative;
        display: flex;
        align-items: center;

        font-weight: 400;
        font-style: $ParagraphP3RegularFonteSize;
        line-height: $ParagraphP3RegularLineHeight;
        &:before {
            content: "";
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            margin-right: 20px;
            background-image: url("../images/Item-black.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__get-started {
        margin-top: 25px;
    }

    &__plan--active {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: $primaryColorDark;
    }

    &__plan--active &__plan-type, 
    &__plan--active &__plan-description,
    &__plan--active &__plan-list,
    &__plan--active &__plan-item {
        color: $colorWhite;
    }

    &__plan--active &__plan-price {
        color: $secondaryColorYellow;
    }

    &__plan--active &__get-started {
        border: none;
        background-color: $primaryColorLight;
        color: $colorWhite;
    }

    &__plan--active &__plan-item {
        &:before {
            content: "";
            background-image: url("../images/Icon.svg");
        }
    }

    &__plan-slider-controls {
        display: none;
        justify-content: center;
        gap: 12px;
        margin-top: 60px;
        span {
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $primaryColorLight;

                &:nth-child(2) {
                    background-color: $primaryColorDark;
                }
        }
    }
}

@include media-down (lg) {
    .pricing {
        &__title {
            font-size: $H2FontSize;
            line-height: $H2LineHeight;
        }
    }
}
@include media-down(custom-md-plus) {
    .pricing {
        &__plan-container {
            display: block;
            position: relative;
            width: 100%;
            height: 752px;
            overflow: hidden;
        }

        &__plan-slider {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            width: auto;
            height: 752px;
        }

        &__plan {
            flex: 1 1 470px;
            width: 470px;
            border-radius: 25px;
        }
    }
}
@include media-down(md) {
    .pricing{
        &__title {
            font-size: $H3FontSize;
            line-height: $H3LineHeight;
            &::after {
                transform: translate(0, 20px);
                width: 230px;
                height: 40px;
            }
        }
    }
}

@include media-down(custom-594) {
    .pricing {
        padding: 80px 0;
        &__title {
            font-size: $H4FontSize;
            line-height: $H4LineHeight;
            &::after {
                width: 170px;
            }
        }

        &__plan-container {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
        }

        &__plan-slider {
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            transform: translate(0, 0);
        }

        &__plan {
            width: 100%;
            position: relative;
            height: auto;
            top: 0;
            left: 0;
            transform: translate(0, 0);

            &:nth-child(1) {
                display: none;
            }

            &:nth-child(3) {
                display: none;
            }
        }

        &__plan-slider-controls {
            display: flex;
            margin-top: 85px;
        }
    }
}
@include media-down(xs) {
    .pricing {
        &__title {
            &::after {
                left: 35%;
                width: 100px;
                bottom: -10%;
            }
        }
    }
}
