@use "../base" as *;

.work-management {
    position: relative;
    background-color: $colorWhite;
    padding: 140px 0 0 0;
    
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: block;
            top: 0;
            left: 0;
            transform: translate(-55%, 15%);
            width: 603px;
            height: 449px;
            position: absolute;
            background-image: url("../images/pattern-2.svg");
            background-repeat: no-repeat;
            z-index: 0;
        }
    }
    &__container-info{
        position: relative;
        margin-right: 60px;
        z-index: 2;
    }
    &__container-img {
        max-width: 748px;
        width: 100%;
        height: 547px;
        background-color: $secondaryColorBlue;
    }
    &__title {
        position: relative;
        color: $colorBlack;
        z-index: 1;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-15px, 10px);
            width: 500px;
            height: 50px;
            background-image: url("../images/highlight.svg");
            background-repeat: no-repeat;
            z-index: -1;
            background-size: cover;
        }
        
    }
    &__description {
        margin-top: 24px;
        color: $colorBlack;
    }
    &__get-started {
        margin-top: 60px;
    }
    
} 
@include media-down(xl) {
    .work-management {
        &__container {
            &::before {
                top: -40%;
            }
        }
        &__container-img {
            height: 448px;
        }
    }
}
@include media-down(lg) {
    .work-management {
        &__container-img {
            height: 328px;
        }
        &__title {
            font-weight: 700;
            font-size: $H2FontSize;
            line-height: $H2LineHeight;
        }
    }
}
@include media-down(custom-md-plus) {
    .work-management {
        &__container-info {
            margin-right: 10px;
            max-width: 440px;
        }
        &__container-img {
            height: 300px;
        }
        &__title {
            &::after {
                background-size: contain;
                width: 450px;
            }
        }
    }
}
@include media-down(md-plus) {
    .work-management {
        &__container-info {
            max-width: 400px;
        }
        padding-top: 100px;
        &__title {
            font-weight: 700;
            font-size: $H3FontSize;
            line-height: $H3LineHeight; 
            &::after {
                bottom: -10%;
                width: 400px;
                
            }
        }
        &__container-img {
            height: 250px;
        }
    }
}
@include media-down(md) {
    .work-management {
        &__container {
            display: block;
            text-align: center;
            &::before {
                
                top: -20%;
                width: 603px;
                height: 400px;
            }
        }
        &__container-info {
            max-width: 748px;
        }
        &__title{
            font-weight: 700;
            font-size: $H3FontSize;
            line-height: $H3LineHeight;
            &::after {
                bottom: -15%;
                left: 40%;
                transform: translate(-15px, 10px);
                width: 400px;
                background-size: contain;
            }
        }
        &__get-started {
            margin: 60px auto;
        }
        &__container-img {
            max-width: 561px;
            margin: 0 auto;
            height: 349px;
        }
    }
}
@include media-down(custom-635) {
    .work-management {
        &__title {
           &::after {
               width: 350px; 
           } 
        }
    }
}
@include media-down(sm-plus) {
    .work-management {
        &__title {
            &::after {
                left: 20%;
                bottom: -10%;
            }
        }
    }
}
@include media-down(custom-450) {
    .work-management {
        &__container-img {
            height: 177px;
        }
        &__title{
            font-weight: 700;
            font-size: $H4FontSize;
            line-height: $H4LineHeight;
            &::after{
                transform: translate(-15px, 25px);
                left: 40%;
                width: 250px;
           } 
        }
    }
}
@include media-down(xs-plus) {
    .work-management {
        &__title {
            &::after {
                left: 20%;
                transform: translate(-15px, 20px);
            }
        }
    }
}
@include media-down(xs) {
    .work-management {
        padding-top: 80px;
    }
}

