@use "../base" as *;

.work-together{
    padding-top: 100px;
    padding-bottom: 140px;


    &__container {
        display: flex;
        align-items: center;
    }

    &__container-img {
        max-width: 710px;
        width: 100%;
        height: 661px;
    }

    &__title {
        position: relative;
        color: $colorBlack;
        z-index: 1;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 30%;
            transform: translate(0, 30%);
            width: 320px;
            height: 50px;
            background-image: url("../images/highlight.svg");
            background-repeat: no-repeat;
            z-index: -1;
            background-size: contain;
            
        }
    }
    &__container-info{
        position: relative;
        margin-left: 100px;
        z-index: 2;
    }
    &__description {
        margin-top: 24px;
        color: $colorBlack;
    }
    &__get-started {
        margin-top: 60px;
    }
}
@include media-down (xl) {
    .work-together {
        &__title {
            &::after{
                left: 35%;
            }
        }
        &__container-img {
        align-content: center;
        }
        &__image {
            max-width: 583px;
            width: 100%;
            height: 543px;
        }
    }
}

@include media-down (lg) {
    .work-together {
        &__image{
            max-width: 530px;
            height: 490px;
        }
        &__container-info{
            margin-left: 33px;
        }
    }
}

@include media-down (custom-md-plus) {
    .work-together {
        &__title {
            &::after{
                left: 0;
            }
        }
        &__image{
            width: 454px;
            height: 423px;
        }
        
    }
}
@include media-down (md-plus) {
    .work-together {
        &__title {
            font-size: $H3FontSize;
            line-height: $H3LineHeight;
            &::after {
                bottom: -10%;
                width: 250px;
            }
        }
        &__container-info {
            margin-left: 10px;
        }
    }
}
@include media-down (md) {
    .work-together {
        padding-bottom: 100px;
        &__container {
            flex-wrap: wrap;
        }
        &__container-img {
            order: 2;
            text-align: center;
        }
        &__image {
            text-align: center;
        }
        &__container-info {
            text-align: center;
            order: 1;
            margin-left: 0;
        }
        &__get-started {
            margin: 60px auto;
        }
        &__title{
            &::after{
                left: 45%;
                bottom: -10%;
                width: 250px;
                
            }
        }
    }
}
@include media-down (sm) {
    .work-together {
        &__image{
            width: 420px;
            height: 410px;
        }
    }
}
@include media-down (custom-450) {
    .work-together {
        padding-bottom: 80px;
    &__title{
            font-weight: 700;
            font-size: $H4FontSize;
            line-height: $H4LineHeight;
            &::after{
                bottom: -50%;
                left: 45%;
                width: 150px;
                
            }
        }
    &__image{
            width: 280px;
            height: 260px;
        }
    &__container-img {
        max-height: 450px;
    }  
    }  
    
}